*

!app_scripts/project_helper.py
!app_scripts/project_mailing.py
!app_scripts/fudo_functions.py
!data_files/BLANK_con-data
!data_files/BLANK_mailing_data.json
!.gitignore
!project_static.py
!requirements.txt
!set_operators.py
!set_srv-pool-acc-safe.py
!logs/*
